<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DemoApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DemoApp.Properties.Settings>
            <setting name="HtmlTags" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>A</string>
                        <string>ABBR</string>
                        <string>ACRONYM</string>
                        <string>ADDRESS</string>
                        <string>APPLET</string>
                        <string>AREA</string>
                        <string>B</string>
                        <string>BASE</string>
                        <string>BASEFONT</string>
                        <string>BDO</string>
                        <string>BGSOUND</string>
                        <string>BIG</string>
                        <string>BLINK</string>
                        <string>BLOCKQUOTE</string>
                        <string>BODY</string>
                        <string>BR</string>
                        <string>BUTTON</string>
                        <string>CAPTION</string>
                        <string>CENTER</string>
                        <string>CITE</string>
                        <string>CODE</string>
                        <string>COL</string>
                        <string>COLGROUP</string>
                        <string>DD</string>
                        <string>DEL</string>
                        <string>DFN</string>
                        <string>DIR</string>
                        <string>DIV</string>
                        <string>DL</string>
                        <string>DT</string>
                        <string>EM</string>
                        <string>EMBED</string>
                        <string>FIELDSET</string>
                        <string>FONT</string>
                        <string>FORM</string>
                        <string>FRAME</string>
                        <string>FRAMESET</string>
                        <string>H1</string>
                        <string>H2</string>
                        <string>H3</string>
                        <string>H4</string>
                        <string>H5</string>
                        <string>H6</string>
                        <string>HEAD</string>
                        <string>HR</string>
                        <string>HTML</string>
                        <string>I</string>
                        <string>IFRAME</string>
                        <string>ILAYER</string>
                        <string>IMG</string>
                        <string>INPUT</string>
                        <string>INS</string>
                        <string>ISINDEX</string>
                        <string>KBD</string>
                        <string>KEYGEN</string>
                        <string>LABEL</string>
                        <string>LAYER</string>
                        <string>LEGEND</string>
                        <string>LI</string>
                        <string>LINK</string>
                        <string>LISTING</string>
                        <string>MAP</string>
                        <string>MENU</string>
                        <string>META</string>
                        <string>MULTICOL</string>
                        <string>NOBR</string>
                        <string>NOEMBED</string>
                        <string>NOFRAMES</string>
                        <string>NOLAYER</string>
                        <string>NOSCRIPT</string>
                        <string>OBJECT</string>
                        <string>OL</string>
                        <string>OPTGROUP</string>
                        <string>OPTION</string>
                        <string>P</string>
                        <string>PARAM</string>
                        <string>PLAINTEXT</string>
                        <string>PRE</string>
                        <string>Q</string>
                        <string>S</string>
                        <string>SAMP</string>
                        <string>SCRIPT</string>
                        <string>SELECT</string>
                        <string>SERVER</string>
                        <string>SMALL</string>
                        <string>SOUND</string>
                        <string>SPACER</string>
                        <string>SPAN</string>
                        <string>STRIKE</string>
                        <string>STRONG</string>
                        <string>STYLE</string>
                        <string>SUB</string>
                        <string>SUP</string>
                        <string>TABLE</string>
                        <string>TD</string>
                        <string>TR</string>
                        <string>TBODY</string>
                        <string>TEXTAREA</string>
                        <string>TITLE</string>
                        <string>TT</string>
                        <string>U</string>
                        <string>UL</string>
                        <string>VAR</string>
                        <string>WBR</string>
                        <string>XMP</string>
                    </ArrayOfString>
                </value>
            </setting>
        </DemoApp.Properties.Settings>
    </userSettings>
</configuration>